body{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
  background-color: #ffffff;
    z-index: 1;
}
header div{
    justify-content: space-between;
    float: left;
    align-items: center;
}
header .nav{
    position: absolute;
    margin-right: 200px;
    right: 0;
    top: 0;

}
.logo img{
    padding: 20px;
    margin-left: 200px;
}
header .nav ul li {
    float: left;
    padding: 20px;
}
.nav ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #222;
    font-weight: bold;}
    .nav ul li a:hover{
        color: #8490ff ;
    }   
header .nav ul{
    list-style: none;
}
.checkbtn{
    display: none;
    font-size: 34px;
    float: right;
    margin-right: -150px;
    line-height: 100px;

}
#check{
    display: none;
}

/*start section*/

/*start section*/
.section-1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 650px;}
.box-1 .box-2{
    width: 50%;

}
.box-1{
    margin-left: 230px;
    margin-bottom: 120px;
}
.box-2{
    padding-right:160px ;
}
.box-2 img{
  max-width:100% ;
  height: auto;
}
.box-1 h3{
    font-weight: normal;
    text-transform: uppercase;

}
.box-1 h1{
    margin-top: 12px;
    font-size: 60px;
} 
 p{
    color: rgba(114, 111, 111, 0.8);
}
input{
    font-family: "Poppins", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 35px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    color: white;
    border: none;
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}
input:hover{
transform: scale(1.04);


}
/*start About section*/
.section-2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 720px;
}
.img-box{
    margin-left: 130px;
    margin-bottom: 120px;
}
.box-2 img{
    max-width:100% ;
    height: auto;
  }
.about-box{
    padding-right:160px ;
}
.about-box h1{
    font-size: 30px;

}

/*start service section*/
.section-3{
    width: 100%;
   margin: 0 auto;
   text-align: center;
    
    height: 650px;

}
.service-text h1{
    margin-bottom: 10px;
    font-size: 36px;
}
.service-text p{
    width: 600px;
    margin: 0 auto;
}
.service-box{
    width: 80%;
    padding: 45px;
    margin: 0 auto;

}
.service-1 .service-2{
    width: 100%;
    overflow: hidden;
}
.service-box .sv-box1{
    width:32% ;
    margin: 0 auto;
    float: left;
    padding: 5px;
    cursor: pointer;
}
.sv-box1 span{
    font-size: 45px;
    color: rgba(63, 62, 62, 0.8)}

.sv-box1 .lo:hover{
color: #8490ff;
}
.sv-box1 .lo:hover span{
    color: #8490ff;
    } 
/*start project section*/
.section-4{
    width: 100%;
    height: 300px;
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}
.section-4 .p-1{
    width: 20%;
    float: left;
    margin: 0 auto;
    position:relative ;
    top: 100px;
    left: 200px;
}
.section-4 .p-1 h1  {
    text-align: center;
    color: blanchedalmond;

}
/*start project view section*/
.section-5{
    width: 100%;
  box-sizing: border-box;
  text-align: center;
   
}
.section-5 .projects{
    width: 96%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
.section-5 .projects div{
    width: 340px;
    height: 339px;
    padding-bottom: 90px;
    text-align: center;
}
.section-5 figure{
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    width: 340px;
    height: 339px;
    margin: 0;
    padding: 0;
    border-radius: 3%;
}
.section-5 figure:hover img{
    opacity: .3;
    transition: all .6s ease-in-out;
}
/*start project price section 6*/
.section-6{
    width: 100%;
    height: 700px;

}
.section-6 .card-box{
    width:75% ;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;

}
.section-6 .card-1{
    width: 300px;
    height: 600px;
    margin-bottom: 100px;

}
.section-6 .card-1 h1{
    font-size: 30px;
    font-weight: 500;
    padding: 30px;
 
}
.card-1 h2{
    font-weight: 500;

}
.card-1 hr{
    width: 240px;
    border: none;
    color: #fff;
  
}
.card-1 input{
    padding-left: 32px;
    padding-right: 32px;
    margin-top: -10px;
}

.section-6 .card-1:hover{
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%); 
    color:white;
    transition: all 0.25s ease-in;
    transform: scale(1.08);
    cursor: pointer;
}
.section-6 .card-1:hover p {
    color:white;  
    transition: all 0.25s ease-in;
}
.section-6 .card-1:hover hr {
   border: 1px solid;
}
.section-6 .card-1:hover input{
    color:rgba(2, 2, 2 ,.8);
    font-size: 20px;
    font-weight: 600;
    transition: all 0.25s ease-in;
    background: #ffffff;
    
}
/*start footer section */

footer{
    width:100% ;
    height: 400px;
    color: #fff;
   background:  #04091e;
   position: absolute;
   margin-right: 0px;
   margin-top: 100px;
   

}
footer .foot{
    width:80% ;
    height: 400px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
   
   

}
.data1{
    margin-top: 120px;
    
   
}
.data1 input {
   color: black;
background: #fff;
  width: 180px;
text-transform:none;
}
.data1 input:hover{
    transform: none;
}
.data1 button{
    font-size: 18px;
    font-weight: 500;
    padding: 7.7px 15px;
    outline: none;
    color: #fff;
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    border: none;
    cursor: pointer;
}
.data1 i{
    padding: 8px;
    font-size: 20px;
}
.data1 i:hover{
    color:  #8490ff ;   
}

@media (max-width:764px){
    header{
        width:100% ;
        height: auto;

    }
    header .logo{
     margin-left: -163px; 
     padding: 25px; 
    margin-top: -10px;

    }
.checkbtn{
    display: block;
}
header .nav ul{
    position: fixed;
    width:100% ;
    height: auto;
    top: 54px;
    left:200% ;
    transition: all .1s;
    background: #d3d3d3;
   
}
header .nav ul li{
    line-height: 10px;
    margin-top: 15px;
    clear: both;
}
#check:checked~ul{
left: 0;
}
.nav ul li a{
    text-align: center;
    font-size: 20px;
}   
/*start  section 2*/
.section-1{
    position: relative;
    display: block;
   margin-top: 200px;
   margin-left: -100px;
   max-width: 700px;
}
.section-1 h1{
  font-size: 45px;
}
.section-1 .box-2{
    width: 400px; 
  padding-left: 200px;


}




/*start  section 2*/
.section-2{
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    top: 300px;
  
}
.section-2 div{
    width: 100%; 
}
.section-2 .img-box img{
   
    right: 120px;
    position: relative;
}
.section-2 .about-box{
    width: 600px;
    margin-top: -90px;
    margin-left: 80px;

}
.section-2 .about-box p{
    width: 400px;
   
}
.section-3{
   
    position: relative;
    width: 100% ;
    margin-top: 600px; 
}
.section-3 .service-text h1{
    font-size: 32px;
}
.section-3 .service-text p{
    width: 80%;
}
.service-1 .sv-box1 ,.service-2 .sv-box1{
    position: relative;
    clear: left;
    width: 95%;
    height: auto;
}
.section-4{
    margin-top: 750px; 
    height: 700px;
}
.section-4 .p-1{
  float:none;
  width:95% ;
  left: 0;
  margin: 0 auto;
  font-size: 25px;

}
.section-5 .projects{
   justify-content: center;
   
   
}
.section-5 .projects div {
    padding: 30px;
    
    
 }
 .section-6{
    height: auto;
   
 }
 .section-6 .card-box{
    display: block;    
    width:100% ;
    margin: 0 auto;

 }
 .section-6 .card-box .card-1{   
    width:80% ;
    margin: 0 auto;
   

 }
 footer{
     height: 100vh;
 }
 footer .foot{
    width:100% ;
    display: block;
    position: relative;
    margin-left: 20px;
    
 }
 footer .foot .data1{
    margin-top: 50px;
 }
}


@media (max-width:500px){
    header .logo{
        float: left;
    }
     header .nav{
        display: block;
       position: relative;
       padding-left: 100px;
    }
    .checkbtn{
        position: relative;
        float: left;
    }
    .section-1 .box-1{
        margin-bottom: 20px;

    }
    .section-1 .box-2 img{
        width: 320px;
        margin: 0 auto;
        
    }
    .section-2{
        top: 270px;
    }
    .section-2 .img-box img{
        width: 420px;
    }
    .section-2 .about-box{
        margin-left: 10px;
    }
    .section-2 .about-box p{
        min-width:320px ;
        max-width: 500px;
    }
    .section-3{
        margin-top: 385px;
    }
    .section-4{
        margin-top: 870px;

    }
    .section-6 p{
        width: 296px;
    }
    footer .foot .data1 .ab{
        width: 300px;

    }
    footer .foot .data1 input{
        width: 230px;
    }

}